**/.bundle/
**/Gemfile.lock
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Appraisal gemfile.lock
/gemfiles/*.gemfile.lock
out
*.sqlite3

.idea
